<!-- <body data-layout="horizontal"> -->

<!-- Begin page -->
<div id="layout-wrapper">

    {{>headeradmin}}
    <!-- ========== Left Sidebar Start ========== -->
    {{>sidebaradmin}}
    <!-- Left Sidebar End -->



    <!-- ============================================================== -->
    <!-- Start right Content here -->
    <!-- ============================================================== -->
    <div class="main-content">

        <div class="page-content">
            <div class="container-fluid">

                <!-- start page title -->
                {{>pagetitle}}
                <!-- end page title -->
                <div class="row">
                    <div class="col-12">
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                            data-bs-target="#crearArea">
                            Añadir nueva área/departamento
                        </button>
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                            data-bs-target="#editarArea">
                            Editar Área
                        </button>
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                            data-bs-target="#eliminarArea">
                            Eliminar Área
                        </button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">

                        <table class="table table-striped table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">Acciones</th>
                                    <th scope="row">Número</th>
                                    <th scope="row">Nombre del Área</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><input type="checkbox"></td>
                                    <td>0014</td>
                                    <td>PROCURADURIAPÚBLICA MUNICIPAL</td>
                                </tr>
                                <tr>
                                    <td><input type="checkbox"></td>
                                    <td>0024</td>
                                    <td>OFICINA DE REGISTRO CIVIL</td>
                                </tr>
                                <tr>
                                    <td><input type="checkbox"></td>
                                    <td>0024</td>
                                    <td>SECRETARIA GENERAL E IMAGEN INSTITUACIONAL</td>
                                </tr>
                                <tr>
                                    <td><input type="checkbox"></td>
                                    <td>0024</td>
                                    <td>UNIDAD DE TRÁMITE DOCUMENTARIO Y ARCHIVO</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- End Page-content -->
            {{>footer}}
        </div>
        <!-- end main content-->

    </div>
    <!-- END layout-wrapper -->


    <!-- Crear area -->
    <div class="modal fade myModal" id="crearArea" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Crear nueva Area</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="/admin/gestA" method="POST">
                        <!-- 2 column grid layout with text inputs for the first and last names -->
                        <div class="row mb-4">
                            <div class="col">
                                <div class="form-outline">
                                    <input type="text" name="nombre" class="form-control"
                                        placeholder="Ingresa nombre del área" />
                                    <label class="form-label">Nombre del área</label>
                                </div>
                            </div>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                            <button type="submit" class="btn btn-primary">Registrar</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
    <!-- editar área -->
    <div class="modal fade myModal" id="editarArea" tabindex="-1" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Editar Area</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="/registroemp" method="POST">
                        <!-- 2 column grid layout with text inputs for the first and last names -->
                        <div class="row mb-4">

                            <div class="col">
                                <div class="form-outline">
                                    <input type="text" name="nombre" class="form-control"
                                        value="OFICINA DE REGISTRO CIVIL" />
                                    <label class="form-label">Nombre del área</label>
                                </div>
                            </div>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                            <button type="submit" class="btn btn-primary">Guardar Cambios</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
    <!-- eliminar personal  -->
    <div class="modal fade myModal" id="eliminarArea" tabindex="-1" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Eliminar Area(s)</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="" method="post">
                        <p>¿Estas seguro de eliminar a <span>{checkboxSelected}</span> ?</p>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                            <button type="submit" class="btn btn-primary">Eliminar</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
    {{>footer}}
</div>