    <!-- <body data-layout="horizontal"> -->

        <!-- Begin page -->
        <div id="layout-wrapper">

          {{>headeradmin}}
            <!-- ========== Left Sidebar Start ========== -->
            {{>sidebaradmin}}
            <!-- Left Sidebar End -->

            

            <!-- ============================================================== -->
            <!-- Start right Content here -->
            <!-- ============================================================== -->
            <div class="main-content">

                <div class="page-content">
                    <div class="container-fluid">

                        <!-- start page title -->
                        {{>pagetitle}}
                        <!-- end page title -->
                        
                    </div> <!-- container-fluid -->
                </div>
                <!-- End Page-content -->
{{>footer}}
            </div>
            <!-- end main content-->

        </div>
        <!-- END layout-wrapper -->


{{!-- end code --}}