<!-- <body data-layout="horizontal"> -->
<!-- Begin page -->
<div id="layout-wrapper">
    {{>headeremp}}
    {{>sidebaremp}}
    <div class="main-content">
        <div class="page-content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xl-4 col-sm-6">
                        <div class="card text-center">
                            <div class="card-body">
                                <div class="dropdown text-end">
                                    <a class="text-muted dropdown-toggle font-size-16" href="#"
                                        role="button" data-bs-toggle="dropdown" aria-haspopup="true">
                                        <i class="bx bx-dots-horizontal-rounded"></i>
                                    </a>

                                </div>

                                <div class="mx-auto mb-4">
                                    <img src="/images/documentosEnProceso.png" alt=""
                                        class="avatar-xl rounded-circle img-thumbnail">
                                </div>
                                <h5 class="font-size-16 mb-1"><a href="#"
                                        class="text-dark">Documentos</a></h5>
                                <p class="text-muted mb-2">En proceso</p>

                            </div>

                        </div>
                        <!-- end card -->
                    </div>
                    <!-- end col -->
                    <div class="col-xl-4 col-sm-6">
                        <div class="card text-center">
                            <div class="card-body">
                                <div class="dropdown text-end">
                                    <a class="text-muted dropdown-toggle font-size-16" href="#"
                                        role="button" data-bs-toggle="dropdown" aria-haspopup="true">
                                        <i class="bx bx-dots-horizontal-rounded"></i>
                                    </a>

                                </div>

                                <div class="mx-auto mb-4">
                                    <img src="/images/document.png" alt=""
                                        class="avatar-xl rounded-circle img-thumbnail">
                                </div>
                                <h5 class="font-size-16 mb-1"><a href="#" class="text-dark">Documentos </a></h5>
                                <p class="text-muted mb-2">por recibir</p>

                            </div>


                        </div>
                        <!-- end card -->
                    </div>
                    <!-- end col -->
                    <div class="col-xl-4 col-sm-6">
                        <div class="card text-center">
                            <div class="card-body">
                                <div class="dropdown text-end">
                                    <a class="text-muted dropdown-toggle font-size-16" href="/emp/docarchi"
                                        role="button" data-bs-toggle="dropdown" aria-haspopup="true">
                                        <i class="bx bx-dots-horizontal-rounded"></i>
                                    </a>


                                </div>

                                <div class="mx-auto mb-4">
                                    <img src="/images/archive.png" alt=""
                                        class="avatar-xl rounded-circle img-thumbnail">
                                </div>
                                <h5 class="font-size-16 mb-1"><a href="/emp/docarchi"
                                        class="text-dark">Documentos </a></h5>
                                <p class="text-muted mb-2">archivados/Procesados</p>

                            </div>


                        </div>
                        <!-- end card -->
                    </div>
                    <!-- end col -->
                    <div class="col-xl-4 col-sm-6">
                        <div class="card text-center">
                            <div class="card-body">
                                <div class="dropdown text-end">
                                    <a class="text-muted dropdown-toggle font-size-16" href="#"
                                        role="button" data-bs-toggle="dropdown" aria-haspopup="true">
                                        <i class="bx bx-dots-horizontal-rounded"></i>
                                    </a>

                                </div>

                                <div class="mx-auto mb-4">
                                    <img src="/images/search.png" alt=""
                                        class="avatar-xl rounded-circle img-thumbnail">
                                </div>
                                <h5 class="font-size-16 mb-1"><a href="#"
                                        class="text-dark">Buscar </a></h5>
                                <p class="text-muted mb-2">Trámites</p>

                            </div>

                        </div>
                        <!-- end card -->
                    </div>
                    <!-- end col -->

                    <div class="col-xl-4 col-sm-6">
                        <div class="card text-center">
                            <div class="card-body">
                                <div class="dropdown text-end">
                                    <a class="text-muted dropdown-toggle font-size-16" href="#"
                                        role="button" data-bs-toggle="dropdown" aria-haspopup="true">
                                        <i class="bx bx-dots-horizontal-rounded"></i>
                                    </a>

                                </div>

                                <div class="mx-auto mb-4">
                                    <img src="/images/key.png" alt=""
                                        class="avatar-xl rounded-circle img-thumbnail">
                                </div>
                                <h5 class="font-size-16 mb-1"><a href="#" class="text-dark">Cambiar </a></h5>
                                <p class="text-muted mb-2">contraseña</p>

                            </div>

                        </div>
                        <!-- end card -->
                    </div>
                    <!-- end col -->
                    <div class="col-xl-4 col-sm-6">
                        <div class="card text-center">
                            <div class="card-body">
                                <div class="dropdown text-end">
                                    <a class="text-muted dropdown-toggle font-size-16" href="#"
                                        role="button" data-bs-toggle="dropdown" aria-haspopup="true">
                                        <i class="bx bx-dots-horizontal-rounded"></i>
                                    </a>

                                </div>

                                <div class="mx-auto mb-4">
                                    <img src="/images/logout.png" alt=""
                                        class="avatar-xl rounded-circle img-thumbnail">
                                </div>
                                <h5 class="font-size-16 mb-1"><a href="#" class="text-dark">Salir</a></h5>
                                <p class="text-muted mb-2">del sistema</p>

                            </div>

                        </div>
                        <!-- end card -->
                    </div>
                    <!-- end col -->


                </div>
                <!-- end row -->
            </div>

            {{>footer}}
        </div>
        <!-- end main content-->
    </div>
    <!-- end main content-->

</div>
<!-- END layout-wrapper -->