<footer class="footer">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6">
        <ul class="nav">
          <li class="nav-item mx-3">
            <a href="/about">
              Politica de privacidad
            </a>
          </li>
          <li class="nav-item mx-3">
            <a href="/terms">
              Terminos y condiciones
            </a>
          </li>
          <li class="nav-item mx-3">
            <a href="/faq">
              FAQ
            </a>
          </li>
        </ul>

      </div>
      <div class="col-sm-6">
        <div class="text-sm-end d-none d-sm-block">
          Hecho con <i class="fa-solid fa-heart"></i> por
          <a href="#" target="_blank">Los ThunderGers</a>.
        </div>
      </div>
    </div>
  </div>
</footer>