<!-- ========== Left Sidebar Start ========== -->
<div class="vertical-menu">

    <div data-simplebar class="h-100">

        <!--- Sidemenu -->
        <div id="sidebar-menu">
            <!-- Left Menu Start -->
            <ul class="metismenu list-unstyled" id="side-menu">
                <li>
                    <a href="/tramites">
                        <i class="fa-solid fa-file-lines"></i>
                        <span data-key="t-dashboard">Mis trámites</span>
                    </a>
                </li>
                <li>
                    <a href="/gentramite">
                        <i class="fa-solid fa-file-circle-plus"></i>
                        <span data-key="t-tramites">Generar trámites</span>
                    </a>
                </li>
                <li>
                    <a href="/userperfil">
                        <i class="fa-solid fa-user"></i>
                        <span data-key="t-perfil">Mi Perfil</span>
                    </a>
                </li>
                <li>
                    <form action="/logout" method="POST" class="navbar-form">
                        <div class="dropdown-divider"></div>
                        <input type="submit" id="home" class="dropdown-item" value="Salir" style="width:95%" />
                    </form>
                </li>
            </ul>
        </div>
        <!-- Sidebar -->
    </div>
</div>
<!-- Left Sidebar End -->