<!-- ========== Left Sidebar Start ========== -->
<div class="vertical-menu">

    <div data-simplebar class="h-100">

        <!--- Sidemenu -->
        <div id="sidebar-menu">
            <!-- Left Menu Start -->
            <ul class="metismenu list-unstyled" id="side-menu">
                <li >
                    <a href="/emp/municipal">
                        <i class="fa-solid fa-house"></i>
                        <span>Inicio</span>
                    </a>
                </li>
                <li >
                    <a href="/emp/gentramite">
                        <i class="fa-solid fa-file-circle-plus"></i>
                        <span>Generar trámite</span>
                    </a>
                </li>
                <li >
                    <a href="/emp/docprocess" class="nav-link" id="nav-user">
                        <i class="fa-solid fa-chalkboard-user"></i>
                        <span>Doc en proceso</span>
                    </a>
                </li>
                <li >
                    <a href="/emp/docrecieve" class="nav-link" id="nav-gentramite">
                        <i class="fa-solid fa-receipt"></i>
                        <span>Doc por recibir</span>
                    </a>
                </li>
                <li >
                    <a href="/emp/docarchi">
                        <i class="fa-solid fa-box-archive"></i>
                        <span>Doc Achivados</span>
                    </a>
                </li>
                <li >
                    <a href="/emp/search">
                        <i class="fa-solid fa-magnifying-glass"></i>
                        <span>buscar</span>
                    </a>
                </li>
                <li >
                   <form action="/logoutemp" method="POST" class="navbar-form">
                        <div class="dropdown-divider"></div>
                        <input type="submit" id="home" class="dropdown-item" value="Salir" style="width:95%" />
                    </form>
                    
                </li>
            </ul>
        </div>
        <!-- Sidebar -->
    </div>
</div>
<!-- Left Sidebar End -->


{{!-- 




<div class="sidebar" data-color="purple" data-background-color="black" data-image="/images/sidebar.jpg">
    <div class="logo">
        
            <img class="rounded mx-auto d-block" src="/images/aquia.png" alt="Aquia" width="150">
        
    </div>
    <div class="sidebar-wrapper">
        <form action="" method="" ref="" id="" encType="multipart/form-data">
            <ul class="nav">
                <li >
                    <a href="/emp/municipal" class="nav-link" id="nav-userperfil">
                        <i class="material-icons">home</i>
                        <p>Inicio</p>
                    </a>
                </li>
                <li class="nav-item ">
                    <a href="/emp/gentramite" class="nav-link" id="nav-userperfil">
                        <i class="material-icons">book</i>
                        <p>Generar trámite</p>
                    </a>
                </li>
                <li class="nav-item ">
                    <a href="/emp/docprocess" class="nav-link" id="nav-user">
                        <i class="material-icons">book</i>
                        <p>Documentos en proceso</p>
                    </a>
                </li>
                <li class="nav-item ">
                    <a href="/emp/docrecieve" class="nav-link" id="nav-gentramite">
                        <i class="material-icons">library_books</i>
                        <p>Documentos por recibir</p>
                    </a>
                </li>
                <li class="nav-item ">
                    <a href="/emp/docarchi" class="nav-link" id="nav-userperfil">
                        <i class="material-icons">archive</i>
                        <p>Documentos archivados</p>
                    </a>
                </li>
                <li class="nav-item ">
                    <a href="/emp/search" class="nav-link" id="nav-userperfil">
                        <i class="material-icons">search</i>
                        <p>buscar</p>
                    </a>
                </li>
                <li class="nav-item ">
                    <form action="/logout" method="POST" style="align-items:center;display:flex;">
                        <i class="material-icons" style="margin-left:6.5%;">logout</i>
                        <input type="submit" value="Salir" class="nav-link" id="nav-home" style="background:none;border:none;width:60%;">
                    </form>
                </li>
            </ul>
        </form>
    </div>
</div> --}}
