<!-- <body data-layout="horizontal"> -->
<!-- Begin page -->
<div id="layout-wrapper">
    {{>header}}
    {{>sidebar}}
    <div class="main-content">
        <div class="page-content">
            <div class="container-fluid">

                <!-- start page title -->
                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                            <h4 class="mb-sm-0 font-size-18">Generar trámite</h4>

                            <div class="page-title-right">
                                <ol class="breadcrumb m-0">
                                    <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
                                    <li class="breadcrumb-item active">Generar trámite</li>
                                </ol>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- end page title -->

                <div class="row">
                    <div class="col-12">
                        <!-- card -->
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Generar trámite</h4>
                                <p class="card-title-desc">Para generar un nuevo trámite por favor rellenar todos los
                                    campos solicitados.
                                </p>
                            </div>
                            <!-- card body -->
                            <div class="card-body">
                                <div class="row align-items-center">
                                    <form action="/gentramite" method="post" class="row g-3" ref="uploadForm"
                                        id="uploadForm" encType="multipart/form-data">
                                       
                                        <!--información de contacto -->
                                        <div class="card">
                                            <div class="card-header card-header-primary">
                                                <h4 class="card-title">INFORMACIÓN DEL DOCUMENTO</h4>
                                            </div>
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="col-lg-6">
                                                        <div class="md-3">
                                                            <label class="form-label">Tipo de documento</label>
                                                            <select class="form-control text-dark" name="tipoDoc">
                                                                <option value="1">Carta</option>
                                                                <option value="2">Oficio</option>
                                                                <option value="3">Solicitud</option>
                                                            </select>
                                                        </div>
                                                        <div class="md-3">
                                                            <label class="form-label">Procedimiento (Opcional)</label>
                                                            <select class="form-control text-dark" name="tupa">
                                                                <option value="2">Seleccione </option>
                                                                <option value="1">Con afecto al TUPA</option>
                                                                <option value="0">Sin afecto al TUPA</option>
                                                            </select>
                                                        </div>
                                                        
                                                    </div>
                                                    <div class="col-lg-6">
                                                        <div class="md-3">
                                                            <label class="form-label">N° de Folios</label>
                                                            <input type="text" name="numFolio" class="form-control"
                                                                value="5" required minlength="1" maxlength="8"
                                                                onkeypress="return isNumberKey(event)" />
                                                        </div>
                                                        <div class="md-3">
                                                            <label for="inputState" class="form-label">Asunto -
                                                                Sumilla*</label>
                                                            <input type="text" name="asunto" class="form-control"
                                                                value="Escriba el asunto">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-lg-12">

                                                        <div class="md-12">
                                                            <label for="floatingTextarea2">Detalles de la
                                                                solicitud</label>
                                                            <textarea class="form-control" name="details"
                                                                placeholder="Escriba su solicitud de forma detallada"
                                                                style="height: 100px"></textarea>
                                                        </div>
                                                        <div class="md-12">
                                                            <div class="d-flex justify-content-between">
                                                                <div class="col-mb-6">
                                                                    <label for="formFile" class="form-label">Adjuntar
                                                                        documento
                                                                        digital (Todos los documentos debén estar en un
                                                                        solo
                                                                        archivo)</label>
                                                                    <input class="form-control" name="documento"
                                                                        type="file" id="formFile" accept="application/pdf"/>
                                                                    <p>Solo archivos PDF,Máximo 5 Mb</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="md-12">
                                                             <div class="d-grid gap-2">
                                                                    <button type="submit" class="btn btn-primary btn-lg">Enviar Trámite</button>
                                                                </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>

                                </div>
                            </div><!-- end card body -->
                        </div><!-- end card -->
                    </div><!-- end col -->
                </div>
                <!-- end row-->
            </div>
            <!-- container-fluid -->
        </div>
        <!-- End Page-content -->



        {{>footer}}
    </div>
    <!-- end main content-->
</div>
<!-- end main content-->

</div>
<!-- END layout-wrapper -->
